/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

 body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
 }

 .text-e6n-color-rainbow {
    animation-duration: 10s;
    animation-delay: 5s;
    animation-name: e6n-color-rainbow;
    animation-iteration-count: infinite;
    @apply text-e6n-red;
}

@keyframes e6n-color-rainbow {
    0% {
        @apply text-e6n-red;
    }
    14% {
        @apply text-e6n-red;
    }
    15% {
        @apply text-e6n-blue;
    }
    49% {
        @apply text-e6n-blue;
    }
    50% {
        @apply text-e6n-yellow;
    }
    79% {
        @apply text-e6n-yellow;
    }
    80% {
        @apply text-e6n-green;
    }
    99% {
        @apply text-e6n-green;
    }
    100% {
        @apply text-e6n-red;
    }
}

.line--red {
    @apply text-e6n-red;
}
.line--blue {
    @apply text-e6n-blue;
}
.line--yellow {
    @apply text-e6n-yellow;
}
.line--green {
    @apply text-e6n-green;
}
.logo-container:hover .line--red {
    @apply text-e6n-green;
}
.logo-container:hover .line--green {
    @apply text-e6n-red;
}
.logo-container:hover .line--blue {
    @apply text-e6n-yellow;
}
.logo-container:hover .line--yellow {
    @apply text-e6n-blue;
}

.nav-link--active {
    @apply border-b-2 !important;
}

.text-content p + p {
    @apply pt-3;
}